form {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  gap: 2rem;
  padding: 2rem;

  label {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  input,
  button {
    padding: 0.5rem;
  }

  .invalid {
    border: 1px solid red;
  }
}
